/* 1. All the details like outlook,padding,margin,colours,font,line spacing,line height etc will be provided by UI/UX designer in actual development.So you dont need to perform hit n trial in real industry.

2. way to write global variables in css

:root{
    by following this syntax you can write global variables.you can use these variable anywhere inside css.

    Example:- Suppose your designer give you a colours set that you need to use in your website.then, those colour can be written here.so that you can use them directly.
}

3. You can use "Online gradient generator{website:- angry tools}" to generate the different colour gradients to make your website attractive.


4. suppose you want to place one div over another.then you need to use position property of css.you need to make parent div as position:relative and the div that you want to place on it will be position:absolute.

5. .input_variableName::placeholder{
    in this way, you can change the properties of input placeholder.
}

6. suppose you have a div with id "container" and it contains 10 paragraph element.then you can access these <p> without assign them any ID's:-
.container p:nth-child(7):- it will access the 7th <p> tag.

7. There are a lots of new concepts to learn in checkbox and slider(explained below)

some css properties:-
- ::-webkit-slider-thumb:- This property is used to access the circle of a slider. 
- cursor:pointer will change the logo of your cursor when you place it on the element.
- opacity: to set the transparency of the text/element.
- text transform : to make the entire text uppercase/lowercase.
- letter spacing: to adjust the space between letters
- transform: translateY(-50%): It means that you shift the div(for which this property is written) on Y-Axis and the unit is wrt its parent element.
- appearance:none property will remove all the by default styles of the elements.
-zoom property will increase the size of elements like checkboxes
-boxshadow: 0px 0px 12px 0px colour will make your element glowing
*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#backgrounddiv{
    width: 100vw;
    height: 100vh;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(29,36,89,1) 99%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#centerdiv{
    width: 80%; 
    height: 80%;
    max-width: 500px; 
    max-height: 600px; 
    min-height: 500px;
    
    /* initially you set the width and height of a center div as 80% which almost cover the entire screen(which may looking odd).But after that you set Max-width as 500px.it means that when you increase the size of your screen,then the center div and its elements will stop expanding after 500px width.hence the max width of center div is 500px.similarly,the center div will stop expanding after max height of 600px.When you reduce the height of a screen, then after some point your elements will overlap each other due to continuous scrinking.that's why we assign a minimum height as 500px.so that it will stop shrinking after 500px. */
}
#passwordGeneratorTextField{
    width: 100%;
    height: 15%;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-weight: bolder;
    font-size: 1.8em;
    padding-top: 5%;
}
#inputTextField{
    width: 100%;
    height: 15%;
    background: rgb(62,76,181);
    background: radial-gradient(circle, rgba(62,76,181,1) 19%, rgba(55,55,74,1) 81%);
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 2px solid cyan;
    padding-right:0.5em;
}
#passwordConditionsField{
    width: 100%;
    height: 70%;
    background: rgb(62,76,181);
    background: radial-gradient(circle, rgba(62,76,181,1) 19%, rgba(55,55,74,1) 81%);
    border-radius: 1em;
    margin-top: 5%;
    outline: 2px solid cyan;
    padding-right: 0.5em;
/*     word-wrap: nowrap; */
}
#displayPassword{
    width: 80%;
    height: 60%;
    border-radius: 1em;
    margin-right: 1em;
    padding-left: 2em;
    color: red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: 120%;
}
#copyButton{
    width: 10%;
    height: 60%;
    border-radius: 1em;
    cursor: pointer;
}
#copyButton:hover{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(29,36,89,1) 99%);
    color: yellow;
    outline: 2px solid yellow;
}
#copiedNotification{
    width: 100%;
    height:100%;
    color: yellow;
    display: none;
}
#passwordLengthTextField{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#passwordLength{
    width: 80%;
    height: 100%;
    padding-top: 1em;
    padding-left: 1em;
    margin-right: 1em;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: 1.1em;
}
#paswordLengthInDigit{
    width: 10%;
    height: 100%;
    padding-top: 1em;
    padding-left: 1em;
    color: yellow;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}
#scroller{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    padding-top: 1em;

}
#range{
    /* here we are constructing the slider from the scratch after removing its default style */
    appearance: none;
    width: 80%;
    height: 50%;
    border-radius: 1rem;
    cursor: pointer;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(29,36,89,1) 99%);
    border: 2px solid rgb(14, 14, 41);
}
#range::-webkit-slider-thumb{
    /* to access the circle of a slider,we use this syntax. */
    appearance: none;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: yellow;
    box-shadow: 0px 0px 12px 0px white;
    cursor: pointer;
    /* position: relative;   if you apply this property, the yellow outline of the slider will become invisible inside the circle */
}
#range::-webkit-slider-thumb:hover{
    /* these properties are visible when you hover the circle */
    outline: 2px solid yellow;
    background-color: rgb(14, 14, 41);
    box-shadow: 0px 0px 12px 0px white;

}
#range:focus{
    /* when we click on the slider,these properties are applied */
    outline: 2px solid yellow; /*it is similar to the border*/
}

#checkboxes{
    width: 100%;
    height: 50%;
    padding-top: 1em;
}
.textCommonProperties{
    font-weight: bolder ;
    color: white;
    padding-left: 1em;
    font-size: 1.1em;
}

/* Here you will learn a lot of new CSS properties */
.checkbox{
    margin-left: 2.5em;
    appearance: none; /*it will remove the default style of a checkbox.Now you can build your checkbox from the scratch.*/
    width: 1.5em;
    height: 1.5em;
    transform: translateY(20%);
    border-radius: 5px;
    border: solid 1PX cyan;
    cursor: pointer;
}

/* .checkbox:checked{
    it contains all the changes that are visible after the checkbox is marked. 
    background-color: blue;
} */

.checkbox:checked::before{
    /* The ::before selector inserts something before the content of selected element.
    Use the ::after selector to insert something after the content. */

    content: '✪'; /* It is used to display your content inside the checkbox. you can pick such logo from online websites*/
    font-size: 120%;
    color: cyan;
    position: absolute;
    left: 15%;
    transform: translateY(-10%);
}

#strength{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
}
#strengthText{
    width: 80%;
    height: 100%;
    padding-top: 0.8em;
    padding-left: 2em;
    margin-right: 1em;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: 1.1em;
}
#colour{
    width: 6%;
    height: 70%;
    background-color: white;
    box-shadow: 0px 0px 12px 0px white;
    border-radius: 50%;
    margin-top: 0.8em;
}
#generateButton{
    width: 90%;
    height: 10%;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(29,36,89,1) 99%);
    margin-left: 1em;
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: 1.1em;
    border-radius: 1em;
    cursor: pointer;
}
#generateButton:hover{
    outline: 2px solid yellow;
    color: yellow;
}
